.content {
    margin: 3% 10% 0 10%;
}

input {
    width: 25% !important;
}

textarea {
    width: 50% !important;
}

select {
    width: 15% !important;
    height: 200px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

li.dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
}
