{% load bootstrap4 %}
{% load static %}
<html lang="pl">
  <head>
      <title>Homepage</title>
      {% bootstrap_css %}
      {% bootstrap_javascript jquery=True %}
      <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Meet&Climb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/wyjazdy/sortuj/brak">Wyjazdy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kursy/sortuj/brak">Kursy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/zgloszenia">Zgłoszenia</a>
          </li>
          {% if uzytkownik_instruktorem %}
          <li class="nav-item">
            <a class="nav-link" href="/zapisy_na_kursy">Zapisy na kursy</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/wiadomosci/">Wiadomości
                {% if liczba_wiadomosci != 0 %}
                  <span class="badge badge-primary" style="white-space:nowrap">
                    {{ liczba_wiadomosci }}
                  </span>
                {% endif %}
              </a>
            </li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profil/">Profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/wyloguj/">Wyloguj</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signup/">Rejestracja</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="content">
      {% if wiadomosc %}
        <div class="alert alert-success" role="alert">
          {{ wiadomosc }}
        </div>
      {% endif %}

{#      <a href="/pobierz/">Link do pdfa</a>#}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
{% block style %}


{% endblock %}