{% extends 'base.html' %}

{% block title %}Wyjazdy{% endblock %}

{% block content %}
  <a href="dodaj/" class="btn btn-success" id="dodaj">Dodaj wyjazd</a><br />
  <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sortuj
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/wyjazdy/sortuj/brak">Brak</a>
      <a class="dropdown-item" href="/wyjazdy/sortuj/data_rosnaco">Po dacie rosnąco</a>
      <a class="dropdown-item" href="/wyjazdy/sortuj/data_malejaco">Po dacie malejąco</a>
    </div>
  </div>
  <br />
  {% for wyjazd in wyjazdy %}
    <div class="card">
      <h5 class="card-header">{{ wyjazd.tytul }} {{ wyjazd.data_rozpoczecia }}-{{ wyjazd.data_zakonczenia }}</h5>
      <div class="card-body">
        <p class="card-text">{{ wyjazd.opis }}</p>
        <a href="/wyjazdy/{{ wyjazd.pk }}" class="btn btn-primary">Szczegóły</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block style %}
<style>
  #dodaj {
    margin-bottom: 3%;
  }

  .card {
    margin-bottom: 10px;
  }
</style>
{% endblock %}