{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Zapisz na kurs{% endblock %}

{% block content %}
  <div style="text-align: center;">
    Jeżeli masz aktualne ubezpieczenie, załaduj plik z jego potwierdzeniem korzystając z formularza poniżej. Jeśli masz już potwierdzenie ubezpieczenia w swoim profilu, kliknij przycisk Zakończ.
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
        <a href="/" class="btn btn-warning" style="margin-right: 2rem">Zakończ</a>
        <input type="submit" value="Wyślij" class="btn btn-primary">
    </form>
  </div>
{% endblock %}
{% block style %}
<style>
  input {
      width: 8rem !important;
  }
</style>
{% endblock %}